.post{
    background-color: white;
    max-width: 750px;
    border: 1px solid darkgrey;
    margin-bottom: 33px;
}

.post_image {
    width: 100%;
    object-fit: contain;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid black;

}

.post_text{
    font-weight: normal; 
    padding: 20px;
}

.post_header{
    display: flex;
    align-items: center;
    padding: 20px
}

.post_avatar{
    margin-right: 15px;
}

.post_commentBox {
    display: flex;
    margin-top: 10px;
}

.post_coments {
    display: flex;
    padding: 20px;
    /* border-top: 20px black;
    border-bottom: 1px grey; */
}

.post_input {
    flex: 1;
    border: none; 
    border-top: 1px solid darkgrey;
    padding: 10px;
    border-radius: 15px 25px 15px

}
.post_button {
    flex: 0;
    border-radius: 15px 25px 15px;
    border: none; 
    border-bottom: 1px solid lightgrey;
    color: rgb(34, 34, 73);
    /* color: rgb(59, 30, 30); */
    /* background: url();
    background-position: left top;
    background-repeat: repeat */
}




